<div class="offset-2 col-8">
    <div class="row m-0">
        <h2 class="form-padding m-auto">Connexion</h2>
    </div>
    <form method="post" action="" >
        <div class="row">
            <div class="offset-2 col-8 form-group">
                <label for="email" class="text-purple">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Votre adresse mail ..."
                       required>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-8 form-group">
                <label for="password" class="text-purple">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Votre motde passe ..."
                       required>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-8 text-center text-purple pb-3">
                <a class="link-forgot-password" href="#">Mot de passe oublié ?</a>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-4 ">
                <button class="col-12 btn-sm bg-button-purple text-white border-0">Se connecter</button>
            </div>
            <div class="offset-0 col-4">
                <div class="col-12 text-center btn-sm bg-button-purple">
                    <a href="{{ path('register') }}" class=" text-white border-0" style="width:100%">Crée un
                        compte</a>
                </div>
            </div>
        </div>
    </form>
</div>