<div class="offset-2 col-8">
    <div class="row m-0">
        <h2 class="form-padding m-auto">Inscription</h2>
    </div>
    <form method="post" action="">
        <div class="row">
            <div class="offset-2 col-4 form-group">
                <label for="lastname" class="text-purple">Nom</label>
                <input type="text" class="form-control" id="lastname" placeholder="Votre nom ..." required>
            </div>
            <div class="offset-0 col-4 form-group">
                <label for="firstname" class="text-purple">Prénom</label>
                <input type="text" class="form-control" id="firstname" placeholder="Votre prénom ..." required>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-8 form-group">
                <label for="email" class="text-purple">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Votre adresse mail ..." required>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-8 form-group">
                <label for="password" class="text-purple">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Votre mot de passe ..." required>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-8 form-group">
                <label for="password" class="text-purple">Confirmation de votre mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Confirmez votre mot de passe !" required>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-4">
                <button class="col-12 btn-sm bg-purple text-white border-0">S'inscrire</button>
            </div>
        </div>
    </form>
</div>