{% extends 'base.html.twig' %}
{% block title 'Connexion' %}

{% block body %}
    <div>
        {{ include('layout/_header-nav-2.html.twig') }}
    </div>
    {# Connexion #}
    <div id="login" class="section-height">
        <div>
            {{ include('security/_form-login.html.twig') }}
        </div>
    </div>
{% endblock %}