{% extends 'base.html.twig' %}
{% block title 'Inscription' %}

{% block body %}
    <div>
        {{ include('layout/_header-nav-2.html.twig') }}
    </div>
    {# Inscription #}
    <div id="register" class="section-height">
        <div>
            {{ include('security/_form-register.html.twig') }}
        </div>
    </div>
{% endblock %}