<!-- Footer -->
<footer class="page-footer font-small bg-footer-purple pt-4 m-0">

    <div class="row py-4 d-flex align-items-center m-0">

        <div class="offset-3 col-6 offset-lg-1 col-lg-2 mb-4">
            <img src="../images/no-image.png" class="img-fluid rounded">
        </div>
        <!-- Grid column -->
        <div class="offset-0 col-12 offset-sm-3 col-sm-9 offset-md-2 col-md-10 offset-lg-1 col-lg-8 mb-4">

            <!-- Links -->
            <div class="row m-0">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-0">
                    <div class="py-2">
                        <span class="btn btn-home size-25 "><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span>15 rue de paris 29856 Brest</span>
                    </div>
                    <div class="py-2">
                        <span class="btn btn-mail size-25 "><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span>paulinelefur@gmail.com</span>
                    </div>
                    <div class="py-2">
                        <span class="btn btn-phone "><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <span>06 89 65 24 13</span>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-0">
                    <div class="py-2">
                        <span class="btn btn-gavel"><i class="fa fa-gavel" aria-hidden="true"></i></span>
                        <span>Mention légale</span>
                    </div>
                    <div class="py-2">
                        <span class="btn btn-phone"><i class="fa fa-heart" aria-hidden="true"></i></span>
                        <span>Remerciements</span>
                    </div>
                    <div class="py-2">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <a class="btn btn-facebook" title="Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-youtube" title="YouTube">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-twiter" title="Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-instagram" title="Instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-linkedin" title="LinkedIn">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
        <a href="">Pauline Le Fur</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->