<div class="row m-0">
    <h2 class="text-purple section-size-h2 font-weight">Mon agence</h2>
</div>
<div class="row d-flex justify-content-center div-agence m-0 py-4">
    <div class="offset-0 col-12">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(105).jpg" class="img-fluid rounded pb-2">
        <h2>Pauline Le Fur</h2>
        <p class="text-justify py-4">
            Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta
            faciamus, ne exspectemus quidem, dum rogemur; studium semper adsit, cunctatio absit; consilium
            vero dare audeamus libere. Plurimum in amicitia amicorum bene suadentium valeat auctoritas,
            eaque et adhibeatur ad monendum non modo aperte sed etiam acriter, si res postulabit, et
            adhibitae pareatur.
            Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et
            castella, sed quisque serpentes latius pro viribus repellere moliens, nunc globis confertos,
            aliquotiens et dispersos multitudine superabatur ingenti, quae nata et educata inter editos
            recurvosque ambitus montium eos ut loca plana persultat et mollia, missilibus obvios eminus
            lacessens et ululatu truci perterrens.
            Omitto iuris dictionem in libera civitate contra leges senatusque consulta; caedes relinquo;
            libidines praetereo, quarum acerbissimum extat indicium et ad insignem memoriam turpitudinis et
            paene ad iustum odium imperii nostri, quod constat nobilissimas virgines se in puteos abiecisse
            et morte voluntaria necessariam turpitudinem depulisse. Nec haec idcirco omitto, quod non
            gravissima sint, sed quia nunc sine teste dico.
        </p>
    </div>
</div>