<div class="opacity text-center text-white">
    <div class="row m-0">
        <div class="offset-4 col-4 offset-md-4 col-md-4 offset-lg-5 col-lg-2 img-home">
            <img src="../images/no-image.png" class="img-fluid rounded">
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12">
            <hr class="bg-purple mb-32mt-0 d-inline-block mx-auto" style="width: 300px; height: 3px">
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 description-home">
            <p>Proin libero libero, dictum in eleifend nec, consectetur vitae augue.</p>
        </div>
    </div>
    <div class="row m-0">
        <div class="offset-2 col-8">
            <hr class="bg-purple mb-2 mt-0 d-inline-block mx-auto" style="width: 200px; height: 2px">
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 ">
            <h1 class="size-45 font-weight">Bienvenue</h1>
        </div>
    </div>
</div>