<div class="row m-0">
    <h2 class="text-purple section-size-h2 font-weight">Me contacter</h2>
</div>
<form>
    <div class="row">
        <div class="col-6 form-group">
            <label for="lastname" class="text-purple">Nom*</label>
            <input type="text" class="form-control" id="lastname" required>
        </div>
        <div class="col-6 form-group">
            <label for="firstname" class="text-purple">Prénom*</label>
            <input type="text" class="form-control" id="firstname" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            <label for="email" class="text-purple">Email*</label>
            <input type="email" class="form-control" id="email" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="email" class="text-purple">Demande*</label>
            <div class="row">
                <div class="px-5 form-check">
                    <input type="checkbox" class="form-check-input" id="check1">
                    <label class="form-check-label" for="check1">Mariages</label>
                </div>
            </div>
            <div class="row">
                <div class="px-5 form-check">
                    <input type="checkbox" class="form-check-input" id="check2">
                    <label class="form-check-label" for="check2">Anniversaires</label>
                </div>
            </div>
            <div class="row">
                <div class="px-5 form-check">
                    <input type="checkbox" class="form-check-input" id="check3">
                    <label class="form-check-label" for="check3">Soirée dansante</label>
                </div>
            </div>
            <div class="row">
                <div class="px-5 form-check">
                    <input type="checkbox" class="form-check-input" id="check4">
                    <label class="form-check-label" for="check4">Evènements sportifs</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-8 col-md-6 form-group">
            <label for="date" class="text-purple">Date*</label>
            <input type="date" class="form-control" id="date" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-group">
            <label for="message" class="text-purple">Message*</label>
            <textarea class="form-control" id="message" rows="5" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-xl-4 col-xl-4">
            <button class="col-12 btn-sm bg-purple text-white border-0">Envoyer</button>
        </div>
    </div>
</form>
