<div class="row m-0">
    <h2>Mes créations</h2>
</div>
<div class="row m-0 text-center py-creation">
    <figure class="col-md-4">
        <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="modal" data-gallery="gallery">
            <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
            <figcaption class="col-12">
                <h3>creation n° 1</h3>
            </figcaption>
        </a>
    </figure>
    <figure class="col-md-4">
        <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="modal" data-gallery="gallery">
            <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
            <figcaption class="col-12">
                <h3>creation n° 2</h3>
            </figcaption>
        </a>
    </figure>
    <figure class="col-md-4">
        <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery">
            <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
            <figcaption class="col-12">
                <h3>creation n° 3</h3>
            </figcaption>
        </a>
    </figure>
    <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-xl-4 col-xl-4">
        <div class="col-12 text-center btn-sm bg-button-purple">
            <a href="{{ path('creation') }}" class=" text-white border-0" style="width:100%">Accéder aux créations</a>
        </div>
    </div>
</div>