<div class="row m-0">
    <h2>Galerie</h2>
</div>
<div class="row m-0 py-4">
    <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 py-2">
        <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="modal" data-gallery="gallery">
            <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded py-2">
        </a>
        <a href="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" data-toggle="lightbox"
           data-gallery="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" class="img-fluid rounded py-2">
        </a>
    </div>
    <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 py-2">
        <a href="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" data-toggle="lightbox"
           data-gallery="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" class="img-fluid rounded py-2">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery">
            <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded py-2">
        </a>
    </div>
    <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 py-2">
        <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery">
            <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded py-2">
        </a>
        <a href="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" data-toggle="lightbox"
           data-gallery="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" class="img-fluid rounded py-2">
        </a>
    </div>
    <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 py-2">
        <a href="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" data-toggle="lightbox"
           data-gallery="gallery">
            <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" class="img-fluid rounded py-2">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery">
            <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded py-2">
        </a>
    </div>
    <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-xl-4 col-xl-4 py-2">
        <div class="col-12 text-center btn-sm bg-button-purple">
            <a href="{{ path('galerie') }}" class=" text-white border-0" style="width:100%">Accéder à la galerie</a>
        </div>
    </div>
</div>
