<div class="row m-0">
    <h2 class="m-auto">Newsletter</h2>
</div>
<form method="post" action="" class="newsletter">
    <div class="row">
        <div class="offset-0 col-12 form-group">
            <label for="email" class="text-purple">Bon plan, bonne adresse, D.I.Y, événements...</label>
            <input type="email" class="form-control" id="email" placeholder="Votre adresse mail ..."
                   required>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-xl-4 col-xl-4">
            <button class="col-12 btn-sm bg-purple text-white border-0">Envoyer</button>
        </div>
    </div>
</form>
