<div class="row m-0">
    <h2 class="text-purple section-size-h2 font-weight">Les prestations</h2>
</div>
<div class="row m-0 text-center py-4">
    <div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-xl-4 col-xl-4">
        <div class="col-12 text-center btn-sm bg-button-purple">
            <a href="{{ path('prestation') }}" class=" text-white border-0" style="width:100%">Accéder aux prestations</a>
        </div>
    </div>
</div>
