{% extends 'base.html.twig' %}
{% block title 'Galerie' %}

{% block body %}
    <div>
        {{ include('layout/_header-nav-2.html.twig') }}
    </div>
    {# Galerie #}
    <div id="login" class="section-height py-5">
        <div class="offset-0 col-12 offset-md-1 col-md-10 offset-xl-2 col-xl-8">

        </div>
    </div>
{% endblock %}